body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border: 4px solid black;
	width: 1200px;
	margin: 10px auto 10px auto;
	min-height: 800px;
}

body #header {
	border-bottom: 4px solid black;
	height: 70px
}

body #header #header-title {
	width: 700px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 25pt;
	font-weight: bolder;
	color: navy;
	height: 70px
}

body #header #header-content {
	display: table-cell;
	width: 500px;
	text-align: right;
	padding-right: 20px;
	height: 70px
}

body #header #header-content #welcome {
	display: inline-flex;
	padding-top: 10px;
}

body #header #header-content #language-bar {
	padding-top: 8px;
	padding-right: 8px;
}

body #header #header-content #welcome #welcome-message {
	padding-right: 20px;
	font-size: 15pt;
	font-weight: bolder;
}

.button {
	padding-top: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	border-color: rgba(0, 31, 64, 0.17);
	width: 150px;
	font-size: 17px;
	font-weight: bolder;
}

.page-button {
	background-color: rgb(221, 221, 221);
	border-color: rgba(0, 31, 64, 0.168627);
	border-radius: 5px;
	border-style: outset;
	border-width: 2px;
	color: rgb(0, 0, 0);
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 5px;
	width: 20px;
	text-decoration: blink;
	display: inline-block;
	text-align: center;
}

.page-button-active {
	background-color: rgb(150, 150, 150);
	border-color: rgba(0, 31, 64, 0.168627);
	border-radius: 5px;
	border-style: outset;
	border-width: 2px;
	color: rgb(0, 0, 0);
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 5px;
	width: 20px;
	text-decoration: blink;
	display: inline-block;
	text-align: center;
}

.button-2 {
	background-color: rgb(221, 221, 221);
	border-color: rgba(0, 31, 64, 0.168627);
	border-radius: 5px;
	border-style: outset;
	border-width: 2px;
	color: rgb(0, 0, 0);
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 5px;
	width: 150px;
	text-decoration: blink;
	display: inline-block;
	text-align: center;
}

.submit-foorm-button {
	padding-top: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	border-color: rgba(0, 31, 64, 0.17);
	width: 322px;
	font-size: 17px;
	font-weight: bolder;
}

#delete-comment {
	float: right;
	padding-top: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	border-color: rgba(0, 31, 64, 0.17);
	width: 30px;
	font-size: 17px;
	font-weight: bolder;
}

body #header #header-content #language-bar a {
	font-weight: bolder;
	color: navy;
}

body #footer {
	border-top: 4px solid black;
	height: 30px;
	vertical-align: middle;
	font-size: 15pt;
	font-weight: bolder;
	text-align: center;
}

body #content {
	height: 700px;
	display: table;
}

body #content #menu {
	display: table-cell;
	/* height: 700px; */
	width: 300px;
	border-right: 2px solid navy;
}

body #content #body {
	display: table-cell;
	height: 700px;
	width: 900px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

body #content #body #login-box {
	width: 280px;
	margin: auto;
	padding-top: 80px;
}

.menu-item {
	font-size: 15pt;
	color: navy;
}

.active {
	font-weight: bolder;
}

input[type=text], input[type=password] {
	display: table-cell;
	width: 300px;
	font-size: 14px;
	padding: 8px 10px;
	border-color: #bdc7d8;
	-webkit-border-radius: 5px;
	border: 1px solid #bdc7d8;
}

textarea {
	display: table-cell;
	font-size: 14px;
	padding: 8px 10px;
	border: 1px solid rgb(189, 199, 216);
	border-radius: 5px;
	margin: 0px;
	width: 300px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.editable-form {
	width: 400px;
	display: table;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 50px;
}

.login-form {
	display: table;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 50px;
}

.label {
	width: 100px;
	display: table-cell;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}

.error-message {
	color: #ff0b39;
	margin-top: 5px;
}

.form-row {
	display: table-row;
}

.title {
	font-size: 20pt;
	font-weight: bold;
	display: table-cell;
}

.text {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin-bottom: 10px;
	margin-top: 20px;
}

.comment-text {
	margin-bottom: 30px;
	background-color: #F9EEEE;
}

.select {
	display: table-cell;
	text-align: center;
}

.form-cell {
	display: table-cell;
}

.author {
	float: right;
	width: 100px;
	display: table-cell;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	width: 100px;
}

#searchCriteria {
	display: inline-block;
	height: 50px;
}

.page-links {
	position: absolute;
	bottom: 0;
	left: 50%;
}

.news-list {
	display: table;
	width: 100%;
}

.last-row {
	vertical-align: text-top;
	height: 50px;
}

.tags-cell {
	text-align: right;
	padding-right: 20px;
	color: #A8A8A8;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}